In [1]:
import pandas as pd

## Моделируем данные уровня жидкости

In [11]:
df = pd.DataFrame(index = pd.date_range(start='1/1/2018',end = '1/2/2018', freq='30Min'))
df.head()

Empty DataFrame
Columns: []
Index: [2018-01-01 00:00:00, 2018-01-01 00:30:00, 2018-01-01 01:00:00, 2018-01-01 01:30:00, 2018-01-01 02:00:00]

In [21]:
df['Уровень'] = 50
df.head()
for ind in df.index:
    ur = df.loc[ind, 'Уровень'] 
    if ind > pd.to_datetime('2018-01-01 10:30:00'):
        df.loc[ind, ['Уровень']] = int(ur - 1)
df

                     Уровень
2018-01-01 00:00:00       50
2018-01-01 00:30:00       50
2018-01-01 01:00:00       50
2018-01-01 01:30:00       50
2018-01-01 02:00:00       50
2018-01-01 02:30:00       50
2018-01-01 03:00:00       50
2018-01-01 03:30:00       50
2018-01-01 04:00:00       50
2018-01-01 04:30:00       50
2018-01-01 05:00:00       50
2018-01-01 05:30:00       50
2018-01-01 06:00:00       50
2018-01-01 06:30:00       50
2018-01-01 07:00:00       50
2018-01-01 07:30:00       50
2018-01-01 08:00:00       50
2018-01-01 08:30:00       50
2018-01-01 09:00:00       50
2018-01-01 09:30:00       50
2018-01-01 10:00:00       50
2018-01-01 10:30:00       50
2018-01-01 11:00:00       49
2018-01-01 11:30:00       49
2018-01-01 12:00:00       49
2018-01-01 12:30:00       49
2018-01-01 13:00:00       49
2018-01-01 13:30:00       49
2018-01-01 14:00:00       49
2018-01-01 14:30:00       49
2018-01-01 15:00:00       49
2018-01-01 15:30:00       49
2018-01-01 16:00:00       49
2018-01-01 16:30:00       49
2018-01-01 17:00:00       49
2018-01-01 17:30:00       49
2018-01-01 18:00:00       49
2018-01-01 18:30:00       49
2018-01-01 19:00:00       49
2018-01-01 19:30:00       49
2018-01-01 20:00:00       49
2018-01-01 20:30:00       49
2018-01-01 21:00:00       49
2018-01-01 21:30:00       49
2018-01-01 22:00:00       49
2018-01-01 22:30:00       49
2018-01-01 23:00:00       49
2018-01-01 23:30:00       49
2018-01-02 00:00:00       49